
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<br><br>
  <div class="col-sm-8"><h3 style="text-align:center; padding: 2%"> Showing results for {{returnedname}} with {{returnedcheckindate}} to {{returnedcheckoutdate}} availablity: </h3><br><br></div>

  <!-- SORT -->
  <div class="col-sm-4">
          <select class="form-control form-control-lg" style="width:50%; margin-left: 30%">
            <option value="">Relevancy </option>
            <option value="High price">High Price</option>
            <option value="Low Price">Low Price</option>
            <option value="A-Z">A-Z</option>
            <option value="Z-A">Z-A</option>
            <option value="High Ratings">High Ratings</option>
            <option value="Low Ratings">Low Ratings</option>
          </select>
      
  </div><br>


  <!--FILTER from here -->

  <div class="row12">
    <div class="col-sm-5"> 
      <div class="panel panel-default" >
          <div class="panel-heading">
            <h2 class="panel-title"style="font-size:25px">Filter by</h2>
          </div>
          <div class="panel-body">
              <div class="input-group"><h4 style="color:#2998f2"><b>Customer Ratings</b></h4>
              <div class="input-group" style="margin: 5%">
                  <div id="tab" class="btn-group" data-toggle="buttons" >
      
                    <a href="#prices" class="btn btn-default active" data-toggle="tab" (click)="onRatingsFilter(1);">
                  <input type="radio"><i class="material-icons" style= "color:green">radio_button_checked</i></a><br><br>
                    <a href="#features" class="btn btn-default" data-toggle="tab" (click)="onRatingsFilter(2);">
                  <input type="radio"><i class="material-icons" style= "color:green">radio_button_checked</i><i class="material-icons" style= "color:green">radio_button_checked</i></a><br><br>
                  <a href="#features" class="btn btn-default" data-toggle="tab" (click)="onRatingsFilter(3);">
                      <input type="radio"><i class="material-icons" style= "color:green">radio_button_checked</i><i class="material-icons" style= "color:green">radio_button_checked</i><i class="material-icons" style= "color:green">radio_button_checked</i></a><br><br>
                      <a href="#features" class="btn btn-default" data-toggle="tab" (click)="onRatingsFilter(4);">
                          <input type="radio"><i class="material-icons" style= "color:green">radio_button_checked</i><i class="material-icons" style= "color:green">radio_button_checked</i><i class="material-icons" style= "color:green">radio_button_checked</i><i class="material-icons" style= "color:green">radio_button_checked</i></a><br><br>
                    <a href="#requests" class="btn btn-default" data-toggle="tab" (click)="onRatingsFilter(5);">
                  <input type="radio"><i class="material-icons" style= "color:green">radio_button_checked</i><i class="material-icons" style= "color:green">radio_button_checked</i><i class="material-icons" style= "color:green">radio_button_checked</i><i class="material-icons" style= "color:green">radio_button_checked</i><i class="material-icons" style= "color:green">radio_button_checked</i></a>
      
                  </div>
                  </div><br>
            <div class="input-group"><h4 style="color:#2998f2"><b>Amenities</b></h4>
          <form action="">
              <input type="checkbox" name="Car Parking" value="Car Parking"> &nbsp;Car Parking<br>
              <input type="checkbox" name="Non Smoking" value="Non Smoking">&nbsp;Non Smoking<br>
              <input type="checkbox" name="Disabled Facilities" value="Disabled Facilities">&nbsp;Disabled Facilities<br>
              <input type="checkbox" name="Shops" value="Shops">&nbsp;Shops<br>
              <input type="checkbox" name="Fitness Center" value="Fitness Center">&nbsp;Fitness Center<br>
              <input type="checkbox" name="Pet allowed" value="Pet allowed">&nbsp;Pet allowed<br>
              <input type="checkbox" name="Outdoor Swimmingpool" value="Outdoor Swimmingpool">&nbsp;Outdoor Swimmingpool<br>
              <input type="checkbox" name="Sauna" value="Sauna">&nbsp;Sauna<br>
              <input type="checkbox" name="Lifts" value="Lifts">&nbsp;Lifts<br>
              <input type="checkbox" name="Restuarant" value="Restuarant">&nbsp;Restuarant<br>
              <input type="checkbox" name="Television" value="Television">&nbsp;Television<br>
              <input type="checkbox" name="Radio" value="Radio">&nbsp;Radio<br>
              <input type="checkbox" name="Hairdryer" value="Hairdryer">&nbsp;Hairdryer<br>
              <input type="checkbox" name="High Speed Modem" value="High Speed Modem">&nbsp;High Speed Modem<br>
            </form>
              </div></div><br>
                  <button type="button" class="btn btn-primary" style="margin: 0 0 5% 25%">Apply</button>
        </div>
      </div>
  
    </div></div>

<!--to here (FILTER)-->



<div class="container" class="col-sm-9">

  <p *ngIf="isEmpty" style="font-size:25px">No hotels found</p>
  <ul *ngIf="!isEmpty">
    <div *ngFor="let hotel of hotelsObs | async">
      <section class="col-xs-12 col-sm-6 col-md-12">
        <article class="search-result row">
          <div class="col-xs-12 col-sm-12 col-md-3">
            <a [routerLink]="['/hotel-info', hotel?.hotelID]" class="thumbnail"><img [src]="hotel?.firstImage" alt="Insert img" /></a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
            <h3><a [routerLink]="['/hotel-info', hotel?.hotelID]" title="">{{hotel?.name}}</a></h3>
            <h6><p>{{hotel?.location}}</p></h6>
            
            <span> {{hotel?.rating}}</span>
            <br>
            <span><img [src]= 'hotel?.ratingImg'></span><br>
            {{hotel?.review_num}}
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2">
            <ul class="meta-search">
              <div><br><h3 style="color:#4CB648; text-align:center">${{hotel?.price}}</h3><br>
                <button [routerLink]="['/hotel-info', hotel?.hotelID]"class="btn btn-primary  with-arrow">View Hotel<i class="icon-arrow-right"></i></button>
              </div>
            </ul>
          </div>
          
          <hr color="black" size="10" width="100%">
        </article>
      </section>
    </div>
  </ul>




  <!--<body>

  <br> <br>
  <h2> Showing results for {{returnedname}} with {{returnedcheckindate}} to {{returnedcheckoutdate}} availablity: </h2>
  <!--<h2> Check In: {{returnedcheckindate}}</h2>
  <h2> Check Out: {{returnedcheckoutdate}}</h2>-->
  <!--<ul>
    <div *ngFor="let hotel of hotelservice.ObservableList | async">
      <p>Hotel Name: {{hotel.getName() }} <br>
        Hotel Location: {{hotel.getLocation() }}<br>
        Hotel city: {{hotel.getCity()}} <br>
        Hotel review: {{hotel.getReview()}} <br>
        Hotel rating: {{hotel.getRating()}} <br>
        Hotel price: {{hotel.getPrice()}}
      </p>
    </div>
  </ul>


  <!--
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ----------

  <div class="container">


    <body>

    <br> <br>
    <h2> Showing results for {{returnedname}} with {{returnedcheckindate}} to {{returnedcheckoutdate}} availablity: </h2>

    <section class="col-xs-12 col-sm-6 col-md-12">
      <article class="search-result row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Insert img" /></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
          <ul class="meta-search">
            <li><i class="glyphicon glyphicon-money"></i> <span>{{hotel.getPrice()}}</span></li>
            <li><i class="glyphicon glyphicon-star"></i> <span>{{hotel.getRating()}}</span></li>
            <li><i class="glyphicon glyphicon-pencil"></i> <span>{{hotel.getReview()}}</span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <h3><a href="#" title=""></a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>
          <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
        </div>
        <span class="clearfix borda"></span>
      </article>

    </section>
  </div>-->

</div>

