<footer id="fh5co-footer" role="contentinfo" style="padding-top: 0;padding-bottom:0;height:80px">

    <div class="container" style="text-align: center;position:center">
      <!--<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0" style="">-->
      <div class="copyright container" style="padding-top:25px">
  
      <a href="/policy" ><p class="copyright" style="color: #bab9b9;" >&copy; 2018 InnCredible</p></a>
      </div>
      <!--<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">-->
  
      <!--</div>-->
  
      <!--<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">-->
        <!--<ul class="fh5co-social">-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--<i class="icon-twitter"></i>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--<i class="icon-facebook"></i>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--<i class="icon-google-plus"></i>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--<i class="icon-instagram"></i>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
  
    </div>
  </footer>
