<div class="form-container">

  <a routerLink = "/login" id="goback">Go back</a>

  <h2>Join Now</h2>

  <span class= "error" *ngIf="error">{{error}}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    
    <input type="text" placeholder="First Name" (ngModel) = "first_name" name="first_name" class="txt" required/><br>
    <input type="text" placeholder="Last Name" (ngModel) = "lastt_name" name="last_name" class="txt" required/><br>
    <input type="email" placeholder="Email Address" (ngModel) = "email" name="email" class="txt" required/><br>
    <input type="password" placeholder="Password" (ngModel) = "password" name="password" class="txt" required/><br>
    <input type="password" placeholder="Confirm Password" (ngModel) = "confirm_password" name="confirm_password" class="txt" required/><br>
 
   <button type="submit" [disabled]="!formData.valid" class="btn">Register</button>
  
  </form>
  
</div>
