.box {

    position: center;
    left:50%;
    margin-left: -35%;
    margin-top: 1%;
  
  }
.page {
    height: 200%;
  }

  button{
    position: relative;
    left: 20%;
}
  
  
  