.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;

}

.fh5co-page-title h1 .colored{
  color:lightblue;
}

.fh5co-page-title {
  padding: 0 !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.grid-container>div {
  background-color:#ff5a5f;
  text-align: right;
  padding: 0 30px;
  font-size: 15px;
}


.bubble{
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}

.bubble::before {
  background-color: #F2F2F2;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:             rotate( 115deg ) skew( -35deg );
  -moz-transform:    rotate( 115deg ) skew( -35deg );
  -ms-transform:     rotate( 115deg ) skew( -35deg );
  -o-transform:      rotate( 115deg ) skew( -35deg );
  -webkit-transform: rotate( 115deg ) skew( -35deg );
  width:  20px;
}


.me {
  float: right;
  margin: 5px 20px 5px 45px;
}

.me::before {
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right:6px;
  top: 35px;
}


