
<body>

<div class="fh5co-page-title" style="background-image: url(images/slide_6.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 animate-box">
        <h1><span class="colored">Cancellation</span> Policies</h1>
      </div>
    </div>
  </div>
</div>




<div class="fh5co-contact animate-box">
  <div class="container">
    <div class="row">
      <h3>50% refund up until 1 week prior to check in</h3>
      <ul>
        <li>Cleaning fees are always refunded if the reservation is canceled before check-in.</li>
        <li>The InnCredible. service fee is refundable, up to 3 times per year, within 48 hours of booking. Separately, if a guest cancels a reservation that overlaps with any part of an existing reservation, we won’t refund the Airbnb service fee if they decide to cancel.</li>
        <li>Accommodation fees (the total nightly rate you’re charged) are refundable in certain circumstances as outlined below.</li>
        <li>InnCredible will mediate when necessary, and has the final say in all disputes.</li>
        <li>A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard &gt; MyBookings &gt; Change or Cancel.</li>
        <li>Cancellation policies may be superseded by the Guest Refund Policy, extenuating circumstances, or cancellations by Airbnb for any other reason permitted under the Terms of Service. Please review these exceptions.</li>
      </ul>

      <div class="timeline-container hide-sm">
        <div class="row clearfix">
          <br>
        </div>

        <div class="grid-container">
          <div class="item1" style="background-color: white; "> <div class="bubble me">7 days prior</div></div>
          <div class="item2" style="background-color: white; "><div class="bubble me">Check in</div></div>
          <div class="item3" style="background-color: white; "><div class="bubble me">Check out</div></div>
        </div>
        <br>
        <div class="grid-container">
          <div class="item1" style="background-color: #ffb400; ">&#9679;</div>
          <div class="item2">&#9679;</div>
          <div class="item3">&#9679;</div>
        </div>
        <div class="timeline-fineprint">
          Example
        </div>
        <div class="grid-container">
          <div class="item1" style="background-color: white; ">Fri, Mar 02<br>3:00 PM</div>
          <div class="item2" style="background-color: white; ">Fri, Mar 02<br>3:00 PM</div>
          <div class="item3" style="background-color: white; ">Fri, Mar 12<br>11:00 AM</div>
        </div>
        <br>
        <div class="grid-container">
          <div class="item1" style="background-color: white; text-align: left">For a 50% refund of accommodation fees, cancellation must be made seven full days prior to listing’s local check-in time (or 3:00 PM if not specified) on the day of check-in, otherwise no refund. For example, if check-in is on Friday, cancel by Friday of the previous week before check in time.</div>
          <div class="item2" style="background-color: white; text-align: left">If the guest cancels less than 7 days in advance, the nights not spent are not refunded.</div>
          <div class="item3" style="background-color: white; text-align: left">If the guest arrives and decides to leave early, the nights not spent are not refunded.</div>
        </div>



      </div>
    </div>
  </div>
</div>








<footer id="fh5co-footer" role="contentinfo" >

  <div class="container" style="height: 10%">
    <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
      <p style="color: #bab9b9">&copy; 2018 InnCredible</p>
    </div>
    <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">

    </div>

    <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
      <ul class="fh5co-social">
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-google-plus"></i></a></li>
        <li><a href="#"><i class="icon-instagram"></i></a></li>
      </ul>
    </div>

  </div>
</footer>

</body>

