.form-container {
    width: 30%;
    padding: 20px;
    background: azure
}

.form-container button{
    background: rebeccapurple;
    color: white;
    padding: 15px;
    display: block;
    width: 100%;
}

.form-container button:hover {
    background: white;
    color: purple;
    border: 2px solid purple;
}

