<div id="fh5co-page">
  <!--
  <header id="fh5co-header" role="banner">
    <div class="container">
      <div class="row">
        <div class="header-inner">
          <img src="../assets/images/Logo.png" alt ="InnCredible" href="index.html" style="width: 25%; padding: 20px"/>
          <nav role="navigation">
            <ul>
              <li><a href="buy.html">Buy</a></li>
              <li><a href="rent.html">Rent</a></li>
              <li><a href="properties.html">Properties</a></li>
              <li class="call"><a href="tel://123456789"><i class="icon-phone"></i> +1 123 456 789</a></li>
              <li class="cta"><a href="contact.html">Contact us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  -->
  <aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
      <ul class="slides">
        <li style="background-image: url(https://cdn.hotelplanner.com/Common/Images/_HotelPlanner/Home-Page/fade/sld6.jpg);">
          <div class="container">
            <div class="col-md-12 text-center js-fullheight fh5co-property-brief slider-text">
              <div class="fh5co-property-brief-inner">
                <div class="fh5co-box">

                  <h3>
                    <a href="#">Search for Hotels</a>
                  </h3>
                  <form #searchformdata="ngForm" (ngSubmit)="onSubmit(searchformdata)">


                  <div id="search-box">
                    <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" class="form-control" id="cityname" required [(ngModel)]="cityname" name="cityname"/>
                  </div>
                  <p></p>
                  <p class="fh5co-property-specification">
                    <label for="checkindate">Date Of Check In</label>
                    <input type="date" class="form-control" id="checkindate" [(ngModel)]="checkindate" name="checkindate" (change)="updateDate()">
                    <label for="checkoutdate">Date Of Check Out</label>
                    <input type="date" class="form-control" id="checkoutdate" [(ngModel)]="checkoutdate" name="checkoutdate">
                  </p>


                    <p><button type="submit" [disabled]="!searchformdata.valid" class="btn btn-primary btn-outline with-arrow">Book Now!<i class="icon-arrow-right"></i></button></p>

                  </form>

                </div>
              </div>
            </div>
          </div>
        </li>
        <!--
        <li style="background-image: url(../assets/images/slide_1.jpg);">
          <div class="container">
            <div class="col-md-12 text-center js-fullheight fh5co-property-brief slider-text">
              <div class="fh5co-property-brief-inner">
                <div class="fh5co-box">
                  <h3><a href="#">15 Apartments Of Type B</a></h3>
                  <div class="price-status">
                    <span class="price">$2,200<span class="per">/Month</span> <a href="#" class="tag">For Rent</a></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta magni amet atque doloremque velit unde adipisci omnis hic quaerat.</p>
                  <p class="fh5co-property-specification">
                    <span><strong>3500</strong> Sq Ft</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
                  </p>
                  <p><a href="#" class="btn btn-primary">Learn more</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(../assets/images/slide_3.jpg);">
          <div class="container">
            <div class="col-md-12 text-center js-fullheight fh5co-property-brief slider-text">
              <div class="fh5co-property-brief-inner">
                <div class="fh5co-box">
                  <h3><a href="#">401 Biscayne Boulevard, Miami</a></h3>
                  <div class="price-status">
                    <span class="price">$1,540,000 <a href="#" class="tag">For Sale</a></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta magni amet atque doloremque velit unde adipisci omnis hic quaerat.</p>
                  <p class="fh5co-property-specification">
                    <span><strong>3500</strong> Sq Ft</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
                  </p>
                  <p><a href="#" class="btn btn-primary">Learn more</a></p>


                </div>
              </div>
            </div>
          </div>
        </li>-->

      </ul>
    </div>
  </aside>
  <div id="best-deal">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
          <h2>We are Offering the Best Hotel Deals</h2>
          <p></p>
        </div>
        <div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn" >


          <div class="fh5co-property">
            <figure>
              <a href ="/hotel-info/1520665316-3138/2018-04-15/2018-04-22"><img src="../../assets/images/hampton-inn-by-hilton-coconut-grove-coral-gables-miami-exterior.5.jpg" class="img-responsive"></a>
              <a href="/hotel-info/1520665316-3138/2018-04-15/2018-04-22" class="tag">10 days left</a>
            </figure>
            <div class="fh5co-property-innter" >
              <h3>
                <a href="/hotel-info/1520665316-3138/2018-04-15/2018-04-22">Coconut Grove Hotel Hampton Inn - Miami</a>
              </h3>
              <div class="price-status">
                <span class="price">
                  <s>
                    <font size="4" color="red">$349 </font>
                  </s>$247.12
                  <span class="per">/Night</span>
                </span>
              </div>
              <p>This 2 star hotel is located within the city of Miami. This 2 star hotel is located within the city of Miami.<br><br></p>
            </div>
            <p class="fh5co-property-specification">
              <span>
                <strong>Car Parking</strong></span>
              <span>
                <strong>Outdoor Pool</strong></span>
              <span>
                <strong>Fitness Center</strong></span>
            </p>
          </div>


        </div>
        <div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn" >


          <div class="fh5co-property">
            <figure>
              <a href="/hotel-info/1520665798-3157/2018-04-14/2018-04-15"><img src="../../assets/images/jw-marriott-san-francisco-union-square-exterior.5.jpg" class="img-responsive" ></a>
              <a href="/hotel-info/1520665798-3157/2018-04-14/2018-04-15" class="tag">6 days left</a>
            </figure>
            <div class="fh5co-property-innter">
              <h3>
                <a href="/hotel-info/1520665798-3157/2018-04-14/2018-04-15">Marriott - San Francisco Union Square</a>
              </h3>
              <div class="price-status">
                <span class="price">
                  <s>
                    <font size="4" color="red">$399 </font>
                  </s> $214.04
                  <span class="per">/Night</span>
                </span>
              </div>
              <p>Less than 5 minutes walk from the San Francisco Symphony. The airport of San Francisco is less than 20 minutes. <font color="white">-a</font>        </p>
            </div>
            <p class="fh5co-property-specification">
              <span>
                <strong>Indoor Pool</strong></span>
              <span>
                <strong>Bar</strong></span>
              <span>
                <strong>Fitness Center</strong></span>
            </p>
          </div>


        </div>
        <div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn" >


          <div class="fh5co-property">
            <figure>
              <a href="/hotel-info/1520667141-3193/2018-04-07/2018-04-08"><img src="../../assets/images/sheraton-grand-los-angeles-exterior.5.jpg" class="img-responsive"></a>
              <a href="/hotel-info/1520667141-3193/2018-04-07/2018-04-08" class="tag">4 days left</a>
            </figure>
            <div class="fh5co-property-innter">
              <h3>
                <a href="/hotel-info/1520667141-3193/2018-04-07/2018-04-08">Hotel Sheraton Grand - Los Angeles</a>
              </h3>
              <div class="price-status">
                <span class="price">
                  <s>
                    <font size="4" color="red">$478 </font>
                  </s> $229.39
                  <span class="per">/Night</span>
                </span>
              </div>
              <p> Across the street from the Sheraton Downtown is a Metro stop, where trains can whisk riders to Hollywood, Universal City or Long Beach.</p>
            </div>
            <p class="fh5co-property-specification">
              <span>
                <strong>Shops</strong></span>
              <span>
                <strong>Valet Laundry</strong></span>
              <!--<span>-->
                <!--<strong>Public Transportation</strong></span>-->
            </p>
          </div>


        </div>


      </div>
    </div>
  </div>


  <div class="fh5co-section-with-image">

    <img src="https://ihg.scene7.com/is/image/ihg/hotel-indigo-basking-ridge-3807896896-2x1" alt="" class="img-responsive">
    <div class="fh5co-box animate-box">
      <h2>Security, Comfort, &amp; Convenience</h2>
      <p>Creating a world where everyone can truly belong requires a foundation of trust. So, as InnCredible continues to grow,
        it’s vital we collect and publish the standards that have always underpinned this global community, both to convey
        our values and guide behavior.
      </p>
    </div>

  </div>

  <div id="fh5co-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
          <h2>Happy Clients</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            </p>
        </div>
        <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
          <blockquote>
            <p>&ldquo; She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached
              the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove,
              the headline of. &rdquo;</p>
            <p>
              <span class="fh5co-author">
                <cite>Jason Davidson</cite>
              </span>
              <i class="icon twitter-color icon-twitter pull-right"></i>
            </p>

          </blockquote>
        </div>
        <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
          <blockquote>
            <p>&ldquo; Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over
              her cheek, then she continued her way. She had a last view back on the skyline of her hometown Bookmarksgrove,
              the headline of. &rdquo;</p>
            <p>
              <span class="fh5co-author">
                <cite>Kyle Smith</cite>
              </span>
              <i class="icon googleplus-color icon-google-plus pull-right"></i>
            </p>
          </blockquote>
        </div>
        <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">

          <blockquote>
            <p>&ldquo; The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks
              and devious Semikoli, but the Little Blind Text didn’t listen. S he had a last view back on the skyline of
              her hometown Bookmarksgrove. &rdquo;</p>
            <p>
              <span class="fh5co-author">
                <cite>Rick Cook</cite>
              </span>
              <i class="icon facebook-color icon-facebook pull-right"></i>
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>


  <div id="fh5co-agents">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading white animate-box" data-animate-effect="fadeIn">
          <h2>Our Team</h2>
        </div>
        <div class="col-md-3 text-center item-block animate-box" data-animate-effect="fadeIn">

          <div class="fh5co-agent">
            <figure>
              <img src="../assets/images/Shivangi.jpg" alt="Free Website Template by FreeHTML5.co">
            </figure>
            <h3>Shivangi Agarwal</h3>
            <h4>Project Manager/Developer</h4>
          </div>

        </div>
        <div class="col-md-3 text-center item-block animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-agent">
            <figure>
              <a href="https://www.linkedin.com/in/tylerbruno"><img src="../assets/images/Tyler.jpg" alt="Free Website Template by FreeHTML5.co" ></a>
            </figure>
            <a href="https://www.linkedin.com/in/tylerbruno"><h3 href="https://www.linkedin.com/in/tylerbruno">Tyler Bruno</h3></a>
            <h4>Product Owner/Developer</h4>
          </div>
        </div>
        <div class="col-md-3 text-center item-block animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-agent">
            <figure>
              <img src="../assets/images/hedi.jpg" alt="Free Website Template by FreeHTML5.co">
            </figure>
            <h3>Hedi Moalla</h3>
            <h4>Product Owner/Tester<br><br></h4>
          </div>
        </div>



        <div class="col-md-3 text-center item-block animate-box" data-animate-effect="fadeIn">

          <div class="fh5co-agent">
            <figure>
              <img src="../assets/images/Devanshi.jpg" alt="Free Website Template by FreeHTML5.co">
            </figure>
            <h3>Devanshi Sukhadia</h3>
            <h4>Software Architect</h4>
          </div>

        </div>
        <div class="col-md-3 text-center item-block animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-agent">
            <figure>
              <img src="../assets/images/Shridhar.jpg" alt="Free Website Template by FreeHTML5.co">
            </figure>
            <h3>Shridhar Suryanarayan</h3>
            <h4>Technical Lead</h4>
          </div>
        </div>
        <div class="col-md-3 text-center item-block animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-agent">
            <figure>
              <img src="../assets/images/Crystle.jpg" alt="Free Website Template by FreeHTML5.co">
            </figure>
            <h3>Crystle Johnson</h3>
            <h4>Software Developer/Tester</h4>
          </div>
        </div>

        <div class="col-md-3 text-center item-block animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-agent">
            <figure>
              <img src="../assets/images/Inderjit.jpg" alt="Free Website Template by FreeHTML5.co">
            </figure>
            <h3>Inderjit Bassi</h3>
            <h4>Software Developer/Tester</h4>
          </div>
        </div>

        <div class="col-md-3 text-center item-block animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-agent">
            <figure>
              <img src="../assets/images/Paul.jpg" alt="Free Website Template by FreeHTML5.co">
            </figure>
            <h3>Paul Nguyen</h3>
            <h4>Software Developer/Tester</h4>
          </div>
        </div>

        <div class="col-md-3 text-center item-block animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-agent">
            <figure>
              <img src="../assets/images/Lance.jpg" alt="Free Website Template by FreeHTML5.co">
            </figure>
            <h3>Lance Barrett</h3>
            <h4>Software Developer/Documentation</h4>
          </div>
        </div>


        <div class="col-md-3 text-center item-block animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-agent">
            <figure>
              <img src="../assets/images/Avani.jpg" alt="Free Website Template by FreeHTML5.co">
            </figure>
            <h3>Avani Bhatnagar</h3>
            <h4>Software Developer/Documentation</h4>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
