  <p *ngIf="userProfileService.favorites === undefined || userProfileService.favorites === null || userProfileService.favorites.length == 0"
     style="font-size:25px">No favorite hotels found.</p>
  <ul *ngIf="userProfileService.favorites !== undefined && userProfileService.favorites !== null && userProfileService.favorites.length != 0">
    <div *ngFor="let hotel of userProfileService.getFavesObs() | async ">

      <!--Hotel card from: https://bootsnipp.com/snippets/qrPQ9-->
      <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
      <div class='container'>
        <div class='list-card'>
          <div class='list-label'>Favorites</div>
          <!--<a [routerLink]="['/hotel-info', hotel?.hotelID]" class="thumbnail">-->
          <a [routerLink]="['/hotel-info', hotel?.hotelID, returnedcheckindate, returnedcheckoutdate]"><img  [src]="hotel?.firstImage" alt="Insert img" /></a>
          <!--</a>-->

          <div class='list-details'>
              <div class='list-name'><a [routerLink]="['/hotel-info', hotel.hotelID, returnedcheckindate, returnedcheckindate]">{{hotel.name}}</a></div>

            <!--<div class='list-landmark'>Neptune Group</div>-->
            <div class='list-location'>{{hotel?.location}}</div>
            <h3 style="padding-bottom: 15px; color:#4CB648">${{hotel?.price}}</h3>
            <!--<span> {{hotel?.rating}}</span>-->


<img style="width:140px; height:25px; background-color:white !important" [src]='hotel?.ratingImg'>
<br><br>{{hotel?.review_num}}
            <!--<div class='list-bottom'>-->
            <!--<div class='list-bottom-section'>-->
            <!--<span>{{res.checkInDt}}</span>-->
            <!--<span>Check In</span>-->
            <!--</div>-->
            <!--<div class='list-bottom-section'>-->
            <!--<span>{{res.checkoutdateDt}}</span>-->
            <!--<span>Check Out</span>-->
            <!--</div>-->
            <!--<div class='list-bottom-section'>-->
            <!--<span>{{res.rooms}}</span>-->
            <!--<span>Rooms</span>-->
            <!--</div>-->
            <!--</div>-->
            </div>

        </div>
      </div>
      <br>
    </div>
  </ul>




<!--<section class="col-xs-12 col-sm-6 col-md-12">-->
<!--<article class="search-result row">-->
<!--<div class="col-xs-12 col-sm-12 col-md-3">-->
<!--<a [routerLink]="['/hotel-info', hotel?.hotelID]" class="thumbnail">-->
<!--<img [src]="hotel?.firstImage" alt="Insert img" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-12 col-md-7 excerpet">-->


<!--<h3>-->
<!--<a [routerLink]="['/hotel-info', hotel?.hotelID]" title="">{{hotel?.name}}</a>-->
<!--</h3>-->
<!--<h6>-->
<!--<p>{{hotel?.location}}</p>-->
<!--</h6>-->

<!--<span> {{hotel?.rating}}</span>-->
<!--<br>-->
<!--<span>-->
<!--<img [src]='hotel?.ratingImg'>-->
<!--</span>-->
<!--<br> {{hotel?.review_num}}-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-12 col-md-2">-->
<!--<ul class="meta-search">-->
<!--<div>-->
<!--<br>-->
<!--<h3 style="color:#4CB648; text-align:center">${{hotel?.price}}</h3>-->
<!--<br>-->
<!--<button [routerLink]="['/hotel-info', hotel?.hotelID, returnedcheckindate, returnedcheckoutdate]" class="btn btn-primary  with-arrow">View Hotel-->
<!--<i class="icon-arrow-right"></i>-->
<!--</button>-->
<!--</div>-->
<!--</ul>-->
<!--</div>-->

<!--<hr color="black" size="10" width="100%">-->
<!--</article>-->
<!--</section>-->
<!--</div>-->
<!--</ul>-->

