<div *ngFor="let res of userProfileService.getBookingsObs() |async">
  <!--Hotel card from: https://bootsnipp.com/snippets/qrPQ9-->
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <div class='container'>
    <div class='list-card'>
      <div class='list-label'>Current Bookings</div>
      <!--<img alt='' src='https://is1-1.housingcdn.com/4f2250e8/cec532fdfbfb4c0213bee9f5028c4486/v1/_logo.jpg'>-->
      <img alt='' src="{{res.image}}">

      <div class='list-details'>
        <!--`FIX: Needs the hotel ID!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <div class='list-name'><a [routerLink]="['/hotel-info', res.hotelID, res.checkInDt, res.checkOutDt]">{{res.hotelName}}</a></div>

        <!--<div class='list-landmark'>Neptune Group</div>-->
        <div class='list-location'>{{res.hotelLoc}}</div>
        
        
        <div class='list-price'>Total Price: {{res.price}}</div>
        <div *ngIf="res?.comments" class='list-comment' style="padding-top: 10px">Comment: {{res.comments}}</div>
        <div *ngIf="!res?.comments" class='list-comment' style="padding-top: 10px">Comment: No comments</div>
        <div class='list-bottom'>
          <div class='list-bottom-section'>
            <span>{{res.checkInDt}}</span>
            <span>Check In</span>
          </div>
          <div class='list-bottom-section'>
            <span>{{res.checkOutDt}}</span>
            <span>Check Out</span>
          </div>
          <div class='list-bottom-section'>
            <span>{{res.rooms}}</span>
            <span>Rooms</span>

          </div>
          <div class='list-bottom-section'><span>{{res.guests}}</span>
            <span>Guests</span></div>

        </div>
<br>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#cancelModal" (click)= 'setkey(res.$key)' ><span class="glyphicon glyphicon-remove-circle"></span> Cancel</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#editModal" (click)= 'setkey(res.$key)'><span class="glyphicon glyphicon-edit"></span> Edit</a>


      </div>
    </div>
  </div>
  <!--<div class="flip col-sm-6">-->
  <!--<div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">-->
  <!--<h1 class="text-shadow">Upcoming Reservation</h1>-->
  <!--{{res.hotelName}}-->
  <!--</div>-->
  <!--<div class="back">-->
  <!--<div class="back-align">-->
  <!--<font size="4" color="grey">CheckIn Date: {{res.checkInDt}} - Check Out Date: {{res.checkOutDt}}</font>-->
  <!--<br>-->
  <!--<br>-->
  <!--<font size="4" color="grey">Address: {{res.hotelLoc}}</font>-->
  <!--<br>-->
  <!--<br>-->
  <!--<font size="4" color="grey">Guests: {{res.guests}}</font>-->
  <!--<br>-->
  <!--<br>-->
  <!--<font size="4" color="grey">Rooms: {{res.rooms}}</font>-->
  <!--<br>-->
  <!--<br>-->
  <!--<font size="4" color="grey">Comments: {{res.comments}}</font>-->
  <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--<div>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cancelModal" (click)= 'setkey(res.$key)'>Cancel-->
  <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
  <!--</button>-->
  <!--<br>-->
  <!--<br>-->
  <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal">&nbsp;&nbsp;Edit &nbsp;&nbsp;-->
  <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
  <!--</button>-->
  <!--</div>-->

  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <div class="container">
      <!-- Trigger the modal with a button -->
  
      <!-- Modal for Cancel -->
      <div class="modal fade" id="cancelModal" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header modal-custom-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4 class="modal-title" style="color: #fff">Cancel Booking</h4></div>
  
  
  
                  <div class="modal-body">
                    <form id="loginform" class="form-horizontal" role="form">
                      <div class="col-md-3"></div>
                      <div class="form-group"><div class="col-md-8">
                        <label for="username" >Would you like to cancel the booking?</label></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">&nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="" name="btnCancel" class="btn btn-primary" (click)="userProfileService.removeReservation(key)" data-dismiss="modal">Yes</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="" name="btnCancel" class="btn btn-primary" data-dismiss="modal">No</button></div>
                          </div>
  
                    </form>
                  </div>
  
            </div>
          </div>
        </div>
  
  
      <!--Modal for Edit-->
          <div class="modal fade" id="editModal" role="dialog">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header modal-custom-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" style="color: #fff">Edit Booking</h4></div>
                        <div class="modal-body">
                          <form id="loginform" class="form-horizontal" role="form">
                            <div class="col-md-3"></div>
                            <div class="form-group"><div class="col-md-8">
                              <label for="username" > What would you like to tell your hotel?</label></div>
                              <div class="col-md-3"></div>
                              <div class="form-group"><div class="col-md-8">
  
                             <!-- this is for comment -->
                             <textarea name="comments" class="form-control" id="textarea" cols="5" rows="4" placeholder="Message" style="width:70%">{{res.comments}}</textarea>
  
  
                            </div></div>
                              <div class="col-md-4"></div>
                              <div class="col-md-4">&nbsp;&nbsp;&nbsp;&nbsp;
                                  <button id="" name="btnCancel" class="btn btn-primary" (click)="setText(); userProfileService.editComment(key, txt_comment)" data-dismiss="modal">Send</button>
                                  &nbsp;
                                  <button id="" name="btnCancel" class="btn btn-primary" data-dismiss="modal">Cancel</button></div>
                                </div>
  
                          </form>
                        </div>
  
                  </div>
                </div>
              </div>
  
