/* USER PROFILE PAGE */
.card {
  margin-top: 5px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
  height: 130px;
}
.card-background img {
  /*
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);*/
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}
.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}
.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}
.card.hovercard .card-info .card-title {
  padding:0 5px;
  font-size: 20px;
  line-height: 1;
  color: beige;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.btn-pref .btn {
  -webkit-border-radius:0 !important;
}


.form-group {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  vertical-align: middle;
  border-color: black;
  margin-bottom: 15px;
}

label {
  padding: 5px 25px 10px 0px;
  width: 25%;
}

.user-info {
  width: 30%;
  padding: 0px;
  margin-right: 5px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  border-bottom: 1px solid grey;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.alter-info {
  background-color: deepskyblue;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-align: center;
  color: white;
}

.alter-info:hover  {
  color:deepskyblue;
  background-color: white;
  border: 1px solid deepskyblue;
}

.profile-pic {
  margin-top: 25px;
  height: 25%;
  align-items: center;
}

.alter-pic {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.user-photo {
  height: 25%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#user-pic {
  background-color: white;
}

.profile-tab {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alter-pass-pic {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: deepskyblue;
  margin-bottom: 15px;
}

.alter-pass-pic:hover {
  color: gray;
}

.pic-choice {
  padding: 5px;
  margin: 0px 5px 0px 5px;
}

.pic-choice:hover{
  opacity: 75%;
  border: 1px solid deepskyblue;
}

.avatars-list {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.glyphicon-pencil:hover {
  color: deepskyblue;
}