<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="col-lg-6 col-sm-6" style = "width: 80%; margin: 3% 10%" >
    <div class="card hovercard">
      <div class="card-background">
        <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
        <!-- http://lorempixel.com/850/280/people/9/ -->
      </div>
      <div class="useravatar">
        <img alt="" src="http://lorempixel.com/100/100/people/9/">
      </div>
      <div class="card-info"> <span class="card-title">{{userProfileService.getFullName()}}</span>
  
      </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" id="my bookings" class="btn btn-default" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          <div class="hidden-xs">My Bookings</div>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="history" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
          <div class="hidden-xs">History</div>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="favorites" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <div class="hidden-xs">Favorites</div>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="calendar" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          <div class="hidden-xs">Calendar</div>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="rewards" class="btn btn-default" href="#tab5" data-toggle="tab"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <div class="hidden-xs">Rewards</div>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="profile" class="btn btn-default" href="#tab6" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <div class="hidden-xs">Profile</div>
        </button>
      </div>
  
  
    </div>
  
    <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <h3>This is tab 1</h3> <br> <br> <br> <br> <br>
        </div>
        <div class="tab-pane fade in" id="tab2">
          <h3>This is tab 2</h3>
        </div>
        <div class="tab-pane fade in" id="tab3">
          <h3>This is tab 3</h3>
        </div>
        <div class="tab-pane fade in" id="tab4">
          <h3>This is tab 4</h3>
        </div>
        <div class="tab-pane fade in" id="tab5">
          <h3 style='text-align: center'>You have:
            <span style ="color: deepskyblue">{{userProfileService.getRewardPoints()}}</span> reward points.</h3>
        </div>
        <div class="tab-pane fade in" id="tab6">



            <form class="form-horizontal">
                <fieldset>
                
                
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">Email</label>  
                  <div class="col-md-4">
                  <input id="textinput" name="textinput" value="{{userProfileService.getUserEmail()}}" class="form-control input-md" required="" type="text">
                    
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Street Address</label>  
                    <div class="col-md-4">
                    <input id="textinput" name="textinput" value="{{userProfileService.getStreetAddress()}}" class="form-control input-md" required="" type="text">
                      
                    </div>
                  </div>
                
                  <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">City</label>  
                    <div class="col-md-4">
                    <input id="textinput" name="textinput" value="{{userProfileService.getCity()}}" class="form-control input-md" required="" type="text">
                      
                    </div>
                  </div>
                
                  <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">State</label>  
                    <div class="col-md-4">
                    <input id="textinput" name="textinput" value="{{userProfileService.getState()}}" class="form-control input-md" required="" type="text">
                      
                    </div>
                  </div>

                  <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Country</label>  
                    <div class="col-md-4">
                    <input id="textinput" name="textinput" value="{{userProfileService.getCountry()}}" class="form-control input-md" required="" type="text">
                      
                    </div>
                  </div>

                  <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Zipcode</label>  
                    <div class="col-md-4">
                    <input id="textinput" name="textinput" value="{{userProfileService.getZipcode()}}" class="form-control input-md" required="" type="text">
                      
                    </div>
                  </div>
                
                <!-- Button (Double) -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="btnCancel"></label>
                  <div class="col-md-8">
                    <button id="btnCancel" name="btnCancel" class="btn btn-primary">Edit</button>
                    <button id="btnSave" name="btnSave" class="btn btn-success">Save</button>
                  </div>
                </div>
                
                </fieldset>
                </form>
  

