<div id="header" style="height: 80px">
<header id="fh5co-header" role="banner">
    <div class="container">
      <div class="row">
        <div class="header-inner">
          <a href="/home"><img src="../assets/images/Logo.png" alt ="InnCredible" href="index.html" style="width: 25%; padding: 20px"/></a>
          <nav role="navigation">
            <ul>
              <li><a href="/login" *ngIf="!authenticated">Login</a></li>
              <li><a href="/register" *ngIf="!authenticated">Register</a></li>
              <li><a href="/profile" *ngIf="authenticated">Profile</a></li>
              <li ><a href="/home" (click)="logout()" *ngIf="authenticated">Logout</a></li>
              <li class="cta"><a href="/contact">Contact us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>


</div>

