<div id="header" style="height: 80px">
<header id="fh5co-header" role="banner">
    <div class="container">
      <div class="row">
        <div class="header-inner">
          <img src="../assets/images/Logo.png" alt ="InnCredible" href="index.html" style="width: 25%; padding: 20px"/>
          <nav role="navigation">
            <ul>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              <li class="cta"><a href="contact.html">Contact us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>

