<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>


<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides*ngFor="let image of hotelInfo.getImages() | async; let i = index"-->
    <div class="carousel-inner" *ngIf="imgDone==true">

      <div class="item active">
        <img src="{{imagesURL[0]}}" style="width:50%; margin-left:25%;">
      </div>

      <div class="item">
        <img attr.src="{{imagesURL[1]}}" style="width:50%;margin-left:25%;">
      </div>

      <div class="item">
        <img attr.src="{{imagesURL[2]}}" style="width:50%;margin-left:25%;">
      </div>

      <div class="item">
        <img attr.src="{{imagesURL[3]}}" style="width:50%;margin-left:25%;">
      </div>

      <div class="item">
        <img attr.src="{{imagesURL[4]}}" style="width:50%;margin-left:25%;">
      </div>

    </div>



    <!-- Left and right controls-->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>
<br>

<div class="container">
  <div style="margin-left: 3%;">
    <div class="col-sm-8">
      <h2 style="color:#118DF0;"> {{hotel?.name}} </h2>
    </div>

    <div class="col-sm-4">
      <h2 style="color:#4CB648">${{hotel?.price}}
        <span class="per" style='font-size: 18px;'>/Night</span></h2>
    </div>

    <div class="col-sm-8">
      <i class="material-icons" style="color:#118DF0;">location_on</i>
      {{hotel?.location}}
      <br>
      <br>
      <button [routerLink]="['/booking', hotel?.hotelID, returnedcheckindate, returnedcheckoutdate]" class="btn btn-primary btn-outline with-arrow">Book Now!
        <i class="icon-arrow-right"></i>
      </button>
    </div>
    <div class="col-sm-3">
      {{hotel?.rating}}
      <br>
      <img [src]='hotel?.ratingImg'>
      <p> {{hotel?.review_num}} </p>
    </div>
  </div>

</div>
<br><br>
<div class="col-sm-8">
  <div class="column1 leftbox">
    <h2 style="margin-bottom:1%"> Hotel Details </h2><hr style="border-width: 2px; border-color: black">
  </div>
</div>

<div class="col-sm-2"></div>

<div class="col-sm-8">
  <div class="column1 leftbox">
    <p id='descinfo'> {{hotel?.description}}</p>
  </div>
</div>

<div class="col-sm-3">
    <div style="width:100%;height:250px" #gmap ></div>
</div>

<div class="col-sm-8">
  <div class="column1 leftbox"> 
    <h2 style="margin-bottom:1%"> Hotel Amenities </h2><hr style="border-width: 2px; border-color: black">
  </div>
</div>

<div class="col-sm-2"></div>

<div class="col-sm-8">
  <div class="column1 leftbox">
    <ul id="amenities_list">
      <li *ngFor='let amenity of hotelInfo.getAmenities() | async'>
        <i class="fa fa-check-square-o"></i>&nbsp;{{amenity}} {{hotel?.city}}</li>
    </ul>
  </div>
</div>

<div class="col-sm-3" *ngIf="miami" ><br><br>
<a target="_blank" href="http://www.booked.net/weather/miami-18227"><img src="https://w.bookcdn.com/weather/picture/3_18227_0_1_137AE9_297_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=23808"  alt="booked.net"/></a>  
</div>

  <div class="col-sm-3" *ngIf="sf"><br><br>
  <a target="_blank" href="http://www.booked.net/weather/san-francisco-18163"><img src="https://w.bookcdn.com/weather/picture/3_18163_0_1_137AE9_297_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=23808"  alt="booked.net"/></a>  
  </div>

  <div class="col-sm-3" *ngIf="boston"><br><br>
    <a target="_blank" href="http://www.booked.net/weather/boston-60"><img src="https://w.bookcdn.com/weather/picture/3_60_0_1_137AE9_297_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=23808"  alt="booked.net"/></a>
    </div>
    <div class="col-sm-3" *ngIf="la"><br><br>
      <a target="_blank" href="http://www.booked.net/weather/los-angeles-18353"><img src="https://w.bookcdn.com/weather/picture/3_18353_0_1_137AE9_297_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=23808"  alt="booked.net"/></a>
    </div>

    <div class="col-sm-3" *ngIf="ny"><br><br>
      <a target="_blank" href="http://www.booked.net/weather/new-windsor-6040"><img src="https://w.bookcdn.com/weather/picture/3_6040_0_1_137AE9_297_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=23808"  alt="booked.net"/></a>
    </div>

<br>
<div class="col-sm-5">
  <br>
  <br>
  <br>
</div>
<div class="col-sm-7">
  <button [routerLink]="['/booking', hotel?.hotelID, returnedcheckindate, returnedcheckoutdate]" class="btn btn-primary btn-outline with-arrow">Book Now!
    <i class="icon-arrow-right"></i>
  </button>
</div>

