<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section style="background:#efefe9;">
  <div class="container">
    <div class="row">
      <div class="board">
        <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
        <div class="board-inner">
          <ul class="nav nav-tabs" id="myTab">
            <div class="liner"></div>
            <li class="active">
              <a href="#roomDetails" data-toggle="tab" title="Room Details">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span>
              </a></li>

            <li><a href="#termsAndConditions" data-toggle="tab" title="Terms And Conditions">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-tasks"></i>
                     </span>
            </a>
            </li>
            <li><a href="#reviewOrder" data-toggle="tab" title="Review Order">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-shopping-cart"></i>
                     </span> </a>
            </li>

            <li><a href="#checkout" data-toggle="tab" title="Checkout">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-credit-card"></i>
                         </span>
            </a></li>

            <li><a href="#confirmation" data-toggle="tab" title="Confirmation">
                         <span class="round-tabs five">
                              <i class="glyphicon glyphicon-ok"></i>
                         </span> </a>
            </li>

          </ul></div>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="roomDetails">

            <h3 class="head text-center">Enter Hotel Details</h3>
            <form class="form-horizontal">
              <fieldset>



                <!--&lt;!&ndash; Form Name &ndash;&gt;-->
                <!--<legend>Form Name</legend>-->

                <!-- Select Basic -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="Number of Guests">Number Of Guests</label>
                  <div class="col-md-4">
                    <select id="Number of Guests" name="Number of Guests" class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
                  </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="beds">Number of Beds</label>
                  <div class="col-md-4">
                    <select id="beds" name="beds" class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select>
                  </div>
                </div>

                <!--<div id="datetimepicker4" class="input-append">-->
                  <!--Check In Date-->
                  <!--<input type="date" data-date="" data-date-format="DD MMMM YYYY" value="2015-08-09">-->
                  <!--<span class="add-on">-->
                  <!--<i data-time-icon="icon-time" data-date-icon="icon-calendar">-->
                  <!--</i>-->
                <!--</span>-->
                <!--</div>-->

                <!--<div id="datetimepicker5" class="input-append">-->
                  <!--Check Out Date-->
                  <!--<input type="date" data-date="" data-date-format="DD MMMM YYYY" value="2015-08-09">-->
                  <!--<span class="add-on">-->
                <!--<i data-time-icon="icon-time" data-date-icon="icon-calendar">-->
                <!--</i>-->
              <!--</span>-->
                <!--</div>-->

                <!-- Textarea -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textarea">Comments</label>
                  <div class="col-md-4">
                    <textarea class="form-control" id="textarea" name="textarea"></textarea>
                  </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="commenButton"></label>
                  <div class="col-md-4">
                    <button id="commentButton" name="commenButton" class="btn btn-primary">Submit</button>
                  </div>
                </div>


              </fieldset>
            </form>



          </div>
          <div class="tab-pane fade" id="termsAndConditions">
            <h3 class="head text-center">Terms and Conditions</h3>

            <form class="form-horizontal">
              <fieldset>

                <!-- Form Name -->
                <!--<legend>Form Name</legend>-->

                <!-- Multiple Checkboxes -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="termsAndConditions">Read and Accept</label>
                  <div class="col-md-4">
                    <div class="checkbox">
                      <label for="termsAndConditions-0">
                        <input type="checkbox" name="termsAndConditions" id="termsAndConditions-0" value="1">
                        <a href="/policy">Terms and Conditions</a>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submitPolicy"></label>
                  <div class="col-md-4">
                    <button id="submitPolicy" name="submitPolicy" class="btn btn-success">Agree</button>
                  </div>
                </div>

              </fieldset>
            </form>

            <!--<div class="well">-->
              <!--<div id="datetimepicker4" class="input-append">-->
                <!--<input data-format="yyyy-MM-dd" type="text"></input>-->
                <!--<span class="add-on">-->
                  <!--<i data-time-icon="icon-time" data-date-icon="icon-calendar">-->
                  <!--</i>-->
                 <!--</span>-->
              <!--</div>-->
            <!--</div>-->

          </div>
          <div class="tab-pane fade" id="reviewOrder">
            <h3 class="head text-center"></h3>

            <div class="col-md-12">
              <div class="col-md-4 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                <!--REVIEW ORDER-->
                <div class="panel panel-default">
                  <div class="panel-heading text-center">
                    <h4>Review Order</h4>
                  </div>
                  <div class="panel-body">
                    <!--Hotel name field-->
                    <div class="col-md-12">
                      <strong>Hotel Name</strong>
                      <div class="pull-right"><span>Lance in france</span></div>
                    </div>

                    <!--Hotel address field-->
                    <div class="col-md-12">
                      <strong>Address</strong>
                      <div class="pull-right"><span>556 Lance ln. San Jose, CA 95112</span></div>
                    </div>

                    <!--Hotel ID field-->
                    <div class="col-md-12">
                      <strong>Hotel ID</strong>
                      <div class="pull-right"><span>762</span></div>
                    </div>

                    <!--Number of guests field-->
                    <div class="col-md-12">
                      <strong>Number Of Guests</strong>
                      <div class="pull-right"><span>4</span></div>
                    </div>

                    <!--Number of beds field-->
                    <div class="col-md-12">
                      <strong>Number Of Beds</strong>
                      <div class="pull-right"><span>2</span></div>
                    </div>

                    <!--Check in Date field-->
                    <div class="col-md-12">
                      <strong>Check In Date</strong>
                      <div class="pull-right"><span>02/14/2018</span></div>
                    </div>

                    <!--Check Out date field-->
                    <div class="col-md-12">
                      <strong>Check Out Date</strong>
                      <div class="pull-right"><span>02/15/2018</span></div>
                    </div>

                    <!--Room price field-->
                    <div class="col-md-12">
                      <strong>Room Price</strong>
                      <div class="pull-right"><span>$</span><span>200.00</span></div>
                    </div>

                    <!--Tax price field-->
                    <div class="col-md-12">
                      <strong>Tax</strong>
                      <div class="pull-right"><span>$</span><span>200.00</span></div>
                    </div>
                    <div class="col-md-12">

                      <div class="pull-right"><span>-</span></div>
                      <hr>
                    </div>
                    <div class="col-md-12">
                      <strong>Order Total</strong>
                      <div class="pull-right"><span>$</span><span>150.00</span></div>
                      <hr>
                    </div>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>

                  </div>

                </div>
                <!--REVIEW ORDER END-->
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="checkout">
            <h3 class="head text-center">Payment</h3>

            <!--Following code is from this: https://bootsnipp.com/snippets/featured/credit-card-payment-with-stripe-->
            <!-- Vendor libraries -->
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>

            <!-- If you're using Stripe for payments -->
            <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

            <div class="container">
              <div class="row">
                <!-- You can make it whatever width you want. I'm making it full width
                     on <= small devices and 4/12 page width on >= medium devices -->
                <div class="col-xs-12 col-md-4">

                  <!-- CREDIT CARD FORM STARTS HERE -->
                  <div class="panel panel-default credit-card-box">
                    <div class="panel-heading display-table" >
                      <div class="row display-tr" >
                        <h3 class="panel-title display-td" >Payment Details</h3>
                        <div class="display-td" >
                          <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="form-group">
                              <label for="cardNumber">CARD NUMBER</label>
                              <div class="input-group">
                                <input
                                  type="tel"
                                  class="form-control"
                                  name="cardNumber"
                                  placeholder="Valid Card Number"
                                  autocomplete="cc-number"
                                  required autofocus
                                />
                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                              <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                              <input
                                type="tel"
                                class="form-control"
                                name="cardExpiry"
                                placeholder="MM / YY"
                                autocomplete="cc-exp"
                                required
                              />
                            </div>
                          </div>
                          <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                              <label for="cardCVC">CV CODE</label>
                              <input
                                type="tel"
                                class="form-control"
                                name="cardCVC"
                                placeholder="CVC"
                                autocomplete="cc-csc"
                                required
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="form-group">
                              <label for="couponCode">COUPON CODE</label>
                              <input type="text" class="form-control" name="couponCode" />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <button class="subscribe btn btn-success btn-lg btn-block" type="button">Book Hotel</button>
                          </div>
                        </div>
                        <div class="row" style="display:none;">
                          <div class="col-xs-12">
                            <p class="payment-errors"></p>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- CREDIT CARD FORM ENDS HERE -->

                </div>
              </div>
            </div>


          </div>




          <div class="tab-pane fade" id="confirmation">
            <div class="text-center">
              <i class="img-intro icon-checkmark-circle"></i>
            </div>
            <!--<h3 class="head text-center">Confirmation</h3>-->
            <div class="col-md-12">
              <div class="col-md-4 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                <!--REVIEW ORDER-->
                <div class="panel panel-default">
                  <div class="panel-heading text-center">
                    <h4>Order Summary</h4>
                  </div>
                  <div class="panel-body">
                    <!--Hotel name field-->
                    <div class="col-md-12">
                      <strong>Hotel Name</strong>
                      <div class="pull-right"><span>Lance in france</span></div>
                    </div>

                    <!--Hotel address field-->
                    <div class="col-md-12">
                      <strong>Address</strong>
                      <div class="pull-right"><span>556 Lance ln. San Jose, CA 95112</span></div>
                    </div>

                    <!--Hotel ID field-->
                    <div class="col-md-12">
                      <strong>Hotel ID</strong>
                      <div class="pull-right"><span>762</span></div>
                    </div>

                    <!--Number of guests field-->
                    <div class="col-md-12">
                      <strong>Number Of Guests</strong>
                      <div class="pull-right"><span>4</span></div>
                    </div>

                    <!--Number of beds field-->
                    <div class="col-md-12">
                      <strong>Number Of Beds</strong>
                      <div class="pull-right"><span>2</span></div>
                    </div>

                    <!--Check in Date field-->
                    <div class="col-md-12">
                      <strong>Check In Date</strong>
                      <div class="pull-right"><span>02/14/2018</span></div>
                    </div>

                    <!--Check Out date field-->
                    <div class="col-md-12">
                      <strong>Check Out Date</strong>
                      <div class="pull-right"><span>02/15/2018</span></div>
                    </div>

                    <!--Room price field-->
                    <div class="col-md-12">
                      <strong>Room Price</strong>
                      <div class="pull-right"><span>$</span><span>200.00</span></div>
                    </div>

                    <!--Tax price field-->
                    <div class="col-md-12">
                      <strong>Tax</strong>
                      <div class="pull-right"><span>$</span><span>200.00</span></div>
                    </div>
                    <div class="col-md-12">

                      <div class="pull-right"><span>-</span></div>
                      <hr>
                    </div>
                    <div class="col-md-12">
                      <strong>Order Total</strong>
                      <div class="pull-right"><span>$</span><span>150.00</span></div>
                      <hr>
                    </div>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Done</button>

                  </div>

                </div>
                <!--REVIEW ORDER END-->
              </div>
          </div>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</section>
