
  .btn-pref .btn {
    -webkit-border-radius:0 !important;
  }
  
  .form-group {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    vertical-align: middle;
    border-color: black;
    margin-bottom: 15px;
  }
  
  label {
    padding: 5px 25px 10px 0px;
    width: 25%;
  }
  
  .user-info {
    width: 30%;
    padding: 0px;
    margin-right: 5px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    border-bottom: 1px solid grey;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  
  .alter-info {
    background-color: #337ab7;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: center;
    color: white;
  }
  
  .alter-info:hover  {
    color:#337ab7;
    background-color: white;
    border: 1px solid #337ab7;
  }
  
  .profile-pic {
    margin-top: 25px;
    height: 25%;
    align-items: center;
  }
  
  .alter-pic {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .user-photo {
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #user-pic {
    background-color: white;
  }
  
  .profile-tab {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .alter-pass-pic {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #337ab7;
    margin-bottom: 15px;
  }
  
  .alter-pass-pic:hover {
    color: gray;
  }
  
  .pic-choice {
    padding: 5px;
    margin: 0px 5px 0px 5px;
  }
  
  .pic-choice:hover{
    opacity: 75%;
    border: 1px solid #337ab7;
  }
  
  .avatars-list {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .glyphicon-pencil:hover {
    color: #337ab7;
  }
  
  
  // modal
  .modal-custom-header{
    background-color: #337ab7;
    color: #fff;
    text-align: center;
  }
  
  .input-group-addon {
    color: #fff;
    position: relative;
    background-color: #337ab7;
  }
  
  .form-control, .input-group-addon, .btn, .modal-content {
    border-radius: 2px;
  }
  label{
    text-align: left !important;
  }
  .close:hover {
    color: #fff;
  }

  /**Need to hide input field*/
#input-pic {
  position: absolute;
  margin-top: 5px;
  left: 44%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

/*Replacement for input field*/
#pic-label {
  width: fit-content;
  position: absolute;
  left: 44%;
  z-index: 0;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  background-color: #337ab7;
  color: white;
  display: inline-block;
  font-size: 14px;
  transition: .3s ease;
}

.card-background img {
  margin-left: -100px;
  margin-top: -130px;
  min-width: 130%;
}

.card {
  margin-top: 5px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
  height: 130px;
}
  

  
  