.modal-custom-header{
    background-color: #337ab7;
    color: #fff;
    text-align: center;
  }
  
  .input-group-addon {
    color: #fff;
    position: relative;
    background-color: #337ab7;
  }
  

  label{
    text-align: left !important;
    margin: 10px;
  }
  .close:hover {
    color: #fff;
  }
  
  